html {
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

#inputArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 100px;
    box-shadow: 25px 20px 27px -24px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

#passwordArea {
    box-shadow: 25px 20px 27px -24px rgba(0, 0, 0, 0.75);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#app {
    display: flex;
    align-items: flex-start;
    height: 350px;
}

#passwordOutput {
    border: #000 solid 2px;
    min-height: 200px;
    max-width: 600px;
    overflow-x: auto;
}

#passwordOutput > p {
    margin: 15px 10px;
}

.passwordAmount-container {
    margin-bottom: 20px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

#getPasswords {
    padding: 10px 20px;
    border: #000 solid 1px;
    background-color: #f5f5f5;
}

#getPasswords:active {
    background-color: #dfdfdf;
}

.specialSymbols-container {
    display: flex;
    flex-direction: column;
}

#specialSymbolsTextarea {
    resize: none;
}

#passwordLengthNumber, #passwordAmountNumber {
    width: 30px;
}
