html {
    font-family: Arial, sans-serif;
}

#inputArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

#passArea {
    width: 60%;
}

#app {
    display: flex;
    align-items: flex-start;
}